﻿@model ContractManager1._0.Models.Contract

@{
    ViewData["Title"] = "Novo contrato";
}

<h1>Novo contrato</h1>

<h4>Dados do contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type"  asp-items="Html.GetEnumSelectList(typeof(ContractType))" class="form-control"><option value="" selected>--- Selecione ---</option></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NegotiatedQuantity" class="control-label"></label>
                <input asp-for="NegotiatedQuantity" class="form-control" />
                <span asp-validation-for="NegotiatedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NegotiatedValue" class="control-label"></label>
                <input asp-for="NegotiatedValue" class="form-control" data-inputmask="'alias': 'numeric', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'" />
                <span asp-validation-for="NegotiatedValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractStart" class="control-label"></label>
                <input asp-for="ContractStart" type="month" class="form-control" />
                <span asp-validation-for="ContractStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}