﻿@model ContractManager1._0.Models.Contract

@{
    ViewData["Title"] = "Apagar contrato";
}

<h1>Apagar contrato</h1>

<h3>Tem certeza que deseja apagar este contrato?</h3>
<div>
    <h4>Dados do contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegotiatedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegotiatedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegotiatedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegotiatedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para listagem</a>
    </form>
</div>
