﻿@model ContractManager1._0.Models.Contract

@{
    ViewData["Title"] = "Detalhes do contrato";
}

<h1>Detalhes do contrato</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegotiatedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegotiatedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegotiatedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegotiatedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class="col-sm-10">
            <a href="@Url.Action("DownloadContract", "Contracts")?file=@Model.File" target="_blank"><img src="https://www.ufrgs.br/renafor/wp-content/uploads/2018/01/icon-pdf.png" width="64" height="64" border="0" /></a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar contrato</a> |
    <a asp-action="Index">Voltar para listagem</a>
</div>
