﻿@model IEnumerable<ContractManager1._0.Models.Contract>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contratos</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Contracts")'">Novo Contrato</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Contracts", new { @item.Id })'"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Contracts", new { @item.Id })'"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Contracts", new { @item.Id })'"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>
